.calculator {
    width: 410px;
    height: 600px;
    background-color: black;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    border: 13px solid grey;
    border-radius: 10px;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.8fr 1fr 1fr 1fr 1fr;
}

.calculator div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator button {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid gray;
}

.displayContainer {
    grid-column: 1 / 5;
    background-color: white;
    border: 3px solid rgb(157, 149, 149);
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
}

.displayContainer p {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.displayBottom .displayBottom {
    
}


.clearContainer {
    grid-column: 1 / 5;
}

.clearContainer button { /* THIS OVERRIDES NORMAL BUTTON WIDTH/HEIGHT because clear button column takes more columns */
    width: 95%;
    height: 70%;   
}

.equalsContainer {
    grid-column: 2 / 4;
}

.equalsContainer button {
    width: 90%;
}
